/* Taller 2: Estilos base */
body {
    background-color: #FCD0C4;
    color: #F98AA9;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

form {
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 40px;
}

button {
    background-color: #FBB1A2;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
}


.product-card {
    background: #FEEBF0;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.image-card {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    background-color: #FCC4D4;
FCECC4
Círculo Cromático
Descubre un espectro vibrante con nuestro círculo cromático interactivo. Ajusta el tono y la luminosidad para explorar combinaciones armoniosas que inspiran creatividad y potencian tus proyectos de diseño.

Encuentra una armonía
; /* Por si no tienes la imagen */
}

.colors {
    margin: 15px 0;
}

.red-btn, .gray-btn {
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 20px;
    background: #0447d8;
    cursor: pointer;
    font-size: 14px;
}

.red-btn::before { content: "⚪"; }
.gray-btn::before { content: "🔴 "; }

#cartButton {
    width: 100%;
    background-color: #0f3cd1;
    transition: 0.3s;
}